alembic==0.9.10
amqp==2.4.1
billiard==3.5.0.5
celery==4.2.1
click==6.7
Flask==1.0
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
greenlet==0.4.15
itsdangerous==0.24
Jinja2==2.10
kombu==4.3.0
Mako==1.0.7
MarkupSafe==1.0
python-dateutil==2.7.3
python-editor==1.0.3
python-engineio==3.1.0
python-socketio==2.1.2
pytz==2018.9
redis==3.2.0
six==1.11.0
SQLAlchemy==1.2.8
vine==1.2.0
Werkzeug==0.14.1
