{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Usuário</th>
        <th scope="col">E-mail</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for u in UserData %}
      <tr>
        <th scope="row">{{u.id}}</th>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td><a href="/admin/{{u.id}}">Editar</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}