{% extends 'base.html' %} 

{% block content %}
<div class="container">
        <div class="row justify-content-center align-items-start">
            <form class="align-items-center text-center" action="" method="post">
                <label class="form-control-label" for="edit"> Valor do nsteps: </label> 
                <input type="number" name="editions" id = "edit" class="form-control-label text-center mt-3" value="{{ nsteps }}">
                <input class="m-2 btn-ln btn-primary" type="submit" value="Salvar Atualização" name="submit">
            </form>
        </div>
    </div>


{% endblock %}